<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <title>회원가입</title>
</head>

<body>
  <div>

  </div>
</body>

{% extends 'base.html' %}

{% block scripts %}
<script>
  function regist() {
    let u_id = $("#userId").val();
    let u_pw = $("#userPw").val();
    let u_pw2 = $("#userPw2").val();
    let info = { 'user_id': u_id, 'user_pw': u_pw }
    if (u_pw === u_pw2) {
      $.ajax({
        type: 'POST', // 전송방식
        url: "/join",
        data: JSON.stringify(info),
        contentType: "application/json",
        dataType: "JSON",
        success: function (res) {
          if (res["result"] === "success") {
            alert("등록!");
            window.location.href = "/";
          } else {
            alert("알 수 없는 오류가 발생했습니다.");
            window.location.reload();
          }
        },
      });
    }
    else {
      alert("비밀번호가 서로 일치하지 않습니다.!");
    }

  }
</script>
{% endblock %}

<!-- content block과 필요한 코드를 작성하세요. -->
{% block content %}
<h2 class="title">회원가입</h2>
<hr />
<div class="card">
  <div class="card-body">
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">ID</label>
      <div class="col-sm-10">
        <input type="text" id="userId" class="form-control" placeholder="ID를 입력하세요" />
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="userPw" placeholder="비밀번호를 입력하세요" />
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Password Check</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="userPw2" placeholder="비밀번호를 다시 입력하세요" />
      </div>
    </div>
    <button class="btn btn-primary" onclick="regist()">회원가입하기</button>
    <a href="/login" class="btn btn-primary">로그인하기</a>
  </div>
</div>
<hr />

{% endblock %}

</html>