<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mysql</title>
 
</head>
<body>
    <div class="main">
        <form action="/command" method="POST">
            <input type="text" name="first_test" placeholder="sql command" required="required">
            <!-- <button>submit</button> -->
            <input type="text" name="second_test" placeholder="연산자">

            <input type="text" name="third_test" placeholder="숫자">
            <input type="submit" value="전송">
                            
        </form>
    </div>
</body>
</html>