<!-- extends block을 설정하세요 -->
{% extends 'base.html' %}

<!-- scripts block과 필요한 코드를 작성하세요. -->
{% block scripts %}
<script>
    function regist(){
        let user_id = $("#userId").val();
        let user_pw = $("#userPw").val();
        let user_pw2 = $("#userPw2").val();
        $.ajax({
            url:'/join',
            type:'POST',
            data: JSON.stringify({    
                'user_id': user_id,
                'user_pw': user_pw,
                'user_pw2': user_pw2,
            }),
            contentType: "application/json",
            dataType: "JSON",
            success: function (res) {
                if (res["result"]==='success') {
                        alert("등록!")
                        window.location.href = '/'
                } else {
                        alert("알 수 없는 오류가 발생했습니다.")
                        window.location.reload()
                }
            }
        })

    }
</script>
{% endblock %}

<!-- content block과 필요한 코드를 작성하세요. -->
{% block content %}
<h2 class="title">Cgeon 회원가입</h2>
<hr>
<div class="card">
        <div class="card-body">
                <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">ID</label>
                        <div class="col-sm-10">
                                <input type="text" id='userId' class="form-control" placeholder="ID">
                        </div>
                </div>
                <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                                <input type="password" class="form-control" id="userPw" placeholder="Password">
                        </div>
                </div>
                <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Password Check</label>
                        <div class="col-sm-10">
                                <input type="password" class="form-control" id="userPw2">
                        </div>
                </div>
                <button class="btn btn-primary" onclick=regist()>회원가입</button>
                <a href="/login" class="btn btn-primary">로그인하기</a>
        </div>
</div>
<hr>

{% endblock %}