<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Final Project</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Chakra+Petch:wght@400;700&family=Kanit:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://kit.fontawesome.com/51099c4b9d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="static/assets/css/style.css" />
    <link rel="stylesheet" href="static/assets/css/about.css" />
    <!-- <link rel="stylesheet" href="features.css" /> -->
  </head>
  <body>
    <header>
      <div class="container">
        <!--기준너비(1140px)유지위한 wrapper-->
        <h1>
          <button data-animation-scroll="true" data-target="#main">SiU</button>
        </h1>
        <nav>
          <ul>
            <li>
              <button data-animation-scroll="true" data-target="#about">
                About
              </button>
            </li>
            <li>
              <button data-animation-scroll="true" data-target="#features">
                Features
              </button>
            </li>
            <li>
              <button data-animation-scroll="true" data-target="#portfolio">
                Portfolio
              </button>
            </li>
            <li>
              <button data-animation-scroll="true" data-target="#contact">
                Contact
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main id="main">
      <div class="container">
        <h4>Welcome</h4>
        <h2>I'm A <span></span></h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor,
          facere, laborum incidunt ducimus corporis ratione quibusdam, dolore et
          aliquam obcaecati tempora alias unde? Eius vitae totam animi quidem
          voluptatibus commodi!
        </p>
        <button class="download">DOWNLOAD CV</button>
        <button class="mouse">
          <i class="fa-solid fa-computer-mouse"></i>
        </button>
      </div>
    </main>

    <section id="about" class="about">
      <div class="container">
        <div class="title">
          <h4>Who Am I</h4>
          <h2>About me</h2>
        </div>
        <div class="about-self">
          <div class="left">
            <img src="static/assets/images/kimsiu.jpg" alt="kimsiu's photo" />
          </div>
          <div class="right">
            <h3>Hello, <strong>I'm SiU</strong></h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam
              tempore doloribus incidunt labore error nobis animi explicabo
              minus voluptates voluptate dicta, aliquid culpa facere, omnis
              natus non ducimus placeat officia?
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam
              tempore doloribus incidunt labore error nobis animi explicabo
              minus voluptates voluptate dicta, aliquid culpa facere, omnis
              natus non ducimus placeat officia?
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam
              tempore doloribus incidunt labore error nobis animi explicabo
              minus voluptates voluptate dicta, aliquid culpa facere, omnis
              natus non ducimus placeat officia?
            </p>
            <div class="social">
              <a href="https://instagram.com/kimko95119">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="https://github.com/siu2388">
                <i class="fa-brands fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="features" class="do">
      <div class="container">
        <div class="title">
          <h4>Features</h4>
          <h2>What I do</h2>
        </div>
        <div class="do-me">
          <div class="do-inner">
            <div class="icon">
              <i class="fa-brands fa-html5"></i>
            </div>
            <div class="content">
              <h3>HTML5</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Possimus distinctio neque, expedita cupiditate omnis doloribus
                eos, aliquam repellat voluptatem porro consequatur vitae
                repellendus sint quae impedit, at amet? Repellendus, harum!
              </p>
            </div>
          </div>
          <div class="do-inner">
            <div class="icon">
              <i class="fa-brands fa-css3-alt"></i>
            </div>
            <div class="content">
              <h3>CSS3</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Possimus distinctio neque, expedita cupiditate omnis doloribus
                eos, aliquam repellat voluptatem porro consequatur vitae
                repellendus sint quae impedit, at amet? Repellendus, harum!
              </p>
            </div>
          </div>
          <div class="do-inner">
            <div class="icon">
              <i class="fa-brands fa-square-js"></i>
            </div>
            <div class="content">
              <h3>Javascript</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Possimus distinctio neque, expedita cupiditate omnis doloribus
                eos, aliquam repellat voluptatem porro consequatur vitae
                repellendus sint quae impedit, at amet? Repellendus, harum!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="bg"></div>

    <section id="portfolio" class="portfolio">
      <div class="container">
        <div class="title">
          <h4>PORTFOLIOBACK</h4>
          <h2>Portfolio</h2>
        </div>
        <div class="portfolio-me">
          <div class="portfolio-inner">
            <img
              src="static/assets/images/mock1.png"
              alt="about package design image"
            />
            <strong>BRANDING</strong>
            <h3>Package Design</h3>
          </div>

          <div class="portfolio-inner">
            <img
              src="static/assets/images/mock2.png"
              alt="i-pad and keyboard image"
            />
            <strong>DEVELOPMENT</strong>
            <h3>iOS Dev</h3>
          </div>

          <div class="portfolio-inner">
            <img src="static/assets/images/mock3.png" alt="coke-can image" />
            <strong>MARKETING</strong>
            <h3>Coca-cola</h3>
          </div>

          <div class="portfolio-inner">
            <img
              src="static/assets/images/mock4.png"
              alt="social-media image"
            />
            <strong>APP</strong>
            <h3>instagram Clone</h3>
          </div>

          <div class="portfolio-inner">
            <img src="static/assets/images/mock5.png" alt="Netflix image" />
            <strong>APP</strong>
            <h3>Nerflix Clone</h3>
          </div>

          <div class="portfolio-inner">
            <img src="static/assets/images/mock6.png" alt="FirmBee image" />
            <strong>WEB</strong>
            <h3>FirmBee Web</h3>
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="contact">
      <div class="container">
        <div class="title">
          <h4>CONTACT</h4>
          <h2>Contact with ME</h2>
        </div>
        <div class="contact-me">
          <div class="left">
            <div class="card">
              <div class="icon">
                <i class="fa-solid fa-phone-volume"></i>
              </div>
              <div class="info-text">
                <h3>phone</h3>
                <p>010-3408-2388</p>
              </div>
            </div>
            <div class="card">
              <div class="icon">
                <i class="fa-solid fa-envelope-open-text"></i>
              </div>
              <div class="info-text">
                <h3>e-mail</h3>
                <p>swsear428@naver.com</p>
              </div>
            </div>
            <div class="card">
              <div class="icon">
                <i class="fa-solid fa-location-crosshairs"></i>
              </div>
              <div class="info-text">
                <h3>address</h3>
                <p>Gimpo, Gyeong-Gi do <br />Republic of Korea</p>
              </div>
            </div>
          </div>
          <div class="right">
            <form action="#">
              <div class="form-group">
                <label for="name">name</label>
                <input type="text" name="name" id="name" />
              </div>
              <div class="form-group">
                <label for="e-mail">e-mail</label>
                <input type="email" name="email" id="e-mail" />
              </div>
              <div class="form-group">
                <label for="msg">message</label>
                <textarea name="msg" id="msg" cols=""></textarea>
              </div>
              <button type="submit">Send</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <script src="static\assets\js\script.js"></script>
  </body>
</html>
