@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital@1&display=swap');

body {
    text-align: center;
    background-image: linear-gradient(#CB6262, #947CCB);
    background-repeat: no-repeat;
}

form {
    background-color: #FFFFFF;
    text-align:center;
    border-radius: 2em;
}

h1, h2 {
    font-family: 'Sofia Sans', sans-serif;
    opacity: 1;
}

.result_table {
    margin: 0 auto;
    text-align:center;
    
}

table {
    border-collapse: collapse;
    background-color: #FFFFFF
}