{% extends 'base.html' %}

{% block content %}
<h2 class="title" style="padding-left: 15px;">SQL 처리</h2>
<hr>
<div class="card" style="text-align: center; margin: 0 auto; padding: 15px;">
    <form action="/dbsql" method="POST">
        <div class="mb-3 row">
            <h3>데이터베이스 이름</h3>
            <span> <input type="text" name="db_name" placeholder="ex) name.db"> </span>
        </div>
        <h3>SQL (명령어 한 줄만 가능)</h3>
        <textarea name="sql" cols="40" rows="10" placeholder="ex) SELECT * FROM table_name"></textarea>
        <br>
        {% if label %}
            <span class="result_lable">
                {{ label }}
            </span>
        <br>
        {% endif %}

        <button type="submit">SQL 전송</button>

    </form>
</div>
</hr>
{% endblock %}