<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <style>
    #container {
      width:800px;
      margin:10px auto;
    }
  </style>
</head>
<body>
  <div id="container">
    <form action = "..\app.py">
      <fieldset style="width: 50%;">
        <h1>로그인</h1>
        <label>아이디: <input type="text" id="user_id" size="10"></label>
        <br>
        <label>비밀번호: <input type="password" id="user_pw" size="10"></label>
        <br>
        <input type="submit" value="로그인">
        <input type="button" value="회원가입" onclick="location.href='/signup'">
      </fieldset>
    </form>
  </div>
</body>
</html>