<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Web Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename ='assets/css/style.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <br><br>
    <h1 style="text-align: center;">어서오세요! 환영합니다!</h1>
    <h6 style="text-align: center;">우선 로그인을 해주세요</h6>
    {%if label %}
        <script>
            alert("{{label}}")
        </script>
    {% endif %}
    <div class="container" style="width: 500px;" >
        <!-- <form class="form-signin" action="/login" method="post" name="login">  -->
        <form class="form-signin" method="post" name="login">
            <br><br>
            <h2 class="form-signin-heading">로그인</h2>
            <br>
            <label for="email" class="sr-only">Email address</label>
            <input type="text" id="email" class="form-control" placeholder="아이디 입력" name="id"/>
            <br>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" class="form-control" placeholder="비밀번호 입력" name="pwd"/>
            <br>
			<a href="/signin">계정이 없으시다면 회원가입</a>
            <br><br>
            <button class="btn btn-lg btn-primary btn-block" id="submit" type="button" onclick="chkLogin()">로그인</button>
            <!-- <input class="btn btn-lg btn-primary btn-block" type="button" onclick="chkLogin()" value="로그인"> -->

        </form>
    </div>
    <script type="text/javascript" src="../static/assets/js/validation.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js"
    integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
</body>
</html>