<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container" style="width: 500px;">

        <form class="form-signin" name="signin" action="/signin_process" method="post">
            <br>
            <br>
            <h2 class="form-signin-heading">회원가입</h2>
            <label for="inputID">아이디 입력</label>
            {%if id == None%}
                <input type="text" name="inputID" id="inputID" class="form-control" placeholder="가입할 아이디를 입력하세요"  />
            {% else %}
                <input type="text" name="inputID" id="inputID" class="form-control" placeholder="가입할 아이디를 입력하세요" value="{{id}}" />
            {% endif %}
            <span style="color: red;">
                {{label}}
            </span>
            <br>
            <button type="submit" class="btn btn-primary" formaction="/check_dup">중복확인</button>
            {%if dup %}
                <input type="checkbox" id="chkbox" disabled checked> <span>중복 확인 O</span>
            {% else %}
                <input type="checkbox" id="chkbox" disabled > <span>중복 확인 X</span>
            {% endif %}
            <br><br>
            <label for="inputPassword">비밀번호</label>
            <input type="password" name="inputPassword" id="inputPassword" class="form-control"
                placeholder="가입할 비밀번호를 입력하세요" />
            <br>
            <label for="inputEmail">이메일</label>
            <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="가입할 이메일을 입력하세요" />
            <br>
            <label for="inputPhoneNum">전화번호</label>
            <input type="text" name="inputPhoneNum" id="inputPhoneNum" class="form-control"
                placeholder="가입할 전화번호를 입력하세요" />
            <br>
            <input id="signin_button" class="btn btn-lg btn-primary btn-block" type="button" onclick="chkSignin()" value="회원가입" disabled="disabled">
        </form>
    </div>
    <script type="text/javascript" src="../static/assets/js/validation.js"></script>
</body>

</html>