{% extends 'base.html'%}

{% block content %}

    <div class="uk-margin-left uk-margin-right">

        <article class="uk-article">
        
            <p class="uk-article-meta">made by Kang Seojean for SW Bootcamp 2023.</p>
        
            <p>You can:
                <ul class="uk-list uk-margin-left">
                    <li>
                        <span uk-icon="icon: users"></span>
                        register & login,
                    </li>
                    <li>
                        <span uk-icon="icon: database"></span>
                        manage DB,
                    </li>
                    <li>
                        <span uk-icon="icon: image"></span>
                        process image,
                    </li>
                    <li>
                        <span uk-icon="icon: file-edit"></span>
                        write, edit, or delete posts.
                    </li>
                </ul>
            </p>
        
            <div class="uk-grid-small uk-child-width-auto" uk-grid>
                <div>
                    <a class="uk-button uk-button-text" href=""></a>
                </div>
                <div>
                    <a class="uk-button uk-button-text" href="#"></a>
                </div>
            </div>
        
        </article>


    </div>

{% endblock %}