<html>

<head>
    <title>Hchang - 자유게시판 만들기</title>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}" > </script>
    <script src="{{ url_for('static', filename='jquery.js') }}" > </script>
    <link href="{{ url_for('static',filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- style 코드를 작성하세요. -->
    <style>
        .wrap{
            width: 680px;
            margin: 10px auto;
        }
        .title{
            text-align: center;
        }
    </style>
    <!-- block을 만들어주세요. -->
    {% block scripts %}
    {% endblock %}
</head>

<body>
    <div class="wrap">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Hchang SNS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="/login">로그인</a>
                        <a class="nav-link" href="/join">회원가입</a>
                        <a class="nav-link" href="/logout">로그아웃</a>
                    </div>
                </div>
            </div>
        </nav>
        <hr>
        <!-- 3번을 하세요 -->
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>