{% extends 'base.html' %}

{% block content %}

<div>
{% if post_list %}
    <ul class="uk-list uk-list-divider">
        {% for post in post_list %}
        <li><a href="/content/{{ post.id }}/">{{ post.title }}</a>{{ post.created_at }}</li>

        <!-- postid를 받아오는 게 이 파일이라... 로그인한 사람과 글쓴이가 같으면 수정버튼 나오는 if -->
        {% if session['login']==post.author %}
        <div>
            <form action="/edit/{{ post.id }}" method="GET">
                <button class="uk-button uk-button-default"> EDIT </button>
            </form>
            <form action="/delete/{{ post.id }}" method="GET">
                <button class="uk-button uk-button-default">DELETE</button>
            </form>
        </div>
        {% endif %}

        {% endfor %}
    </ul>
{% else %}
    <p></p>
{% endif %}
</div>

    <form action="/post" method="GET">
        <button class="uk-button uk-button-default">POST</button>
    </form>
    <a href="/blog" class="uk-link-muted">back to list</a>
{% endblock %}