{% extends 'base.html' %}

{% block content %}

    <h3>Title: {{ post.title }}</h3>
    <p> {{ post.content }} </p>
    <br>
    <span>Author: {{ post.author }} </span>
    <br>
    <span>Date: {{post.created_at}}</span>
    <br>
    

    <a class="uk-link-muted" href="/content/{{ post.id + 1}}/">next</a>
    <a class="uk-link-muted" href="/content/{{ post.id - 1}}/">previous</a>
    <br>
    <a class="uk-link-muted" href="/blog">back to list</a>

    {% if session['login'] == post.author %}

    <div>
        <form action="/edit/{{ postid }}" method="GET">
            <button class="uk-button uk-button-default"> EDIT </button>
        </form>
    </div>

    {% endif %}

    {% endblock %}