{% extends 'base.html' %}

{% block content %}
    <h2>DB Management</h2>
        <form action="/sql/dbsql" method="POST">
        <h3>DB name</h3>
        <span> <input type="text" class="uk-textarea uk-form-width-medium" name="db_name" placeholder="ex)name.db"> </span>

        <h3>SQL Query (one at a time)</h3>
        <textarea name="sql" class="uk-textarea" cols="30" placeholder="ex) SELECT * FROM table_name"></textarea>
        <br>

        <button class="uk-button uk-button-default" type="submit">Execute</button>

        {% if label %}
            <div class="result_label">
                <p>{{ label }}</p>
                <div>{{ output }}</div>
            </div>
        {% endif %}

    </form>

{% endblock %}