<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성</title>
    <style>
    .layout{
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }

    .layout input{
        width : 100%;
        box-sizing : border-box;
    }

    .layout textarea{
        width : 100%;
        margin-top : 10px;
        min-height : 300px;
    }
    </style>

</head>
<body>
    <div class="layout">
        <form id = "writeForm" action = "/boardwrite" method = "post" enctype="multipart/form-data">
            <input name = "title" type = "text" placeholder="제목을 입력하세요">
            <textarea name = "content" placeholder="내용을 입력하세요"></textarea>
            <button onclick = "validate" >작성</button>
        </form>
    </div>

    <script>
        function validate(){
            var title = document.querySelector("input[name='title']").value;
            var content = document.querySelector("input[name='content']").value;
            var writeForm = document.querySelector("#writeForm").value;
            if(title.length == 0){
                alert("제목을 입력하세요")
                return false;
            }
            else if(content.length == 0){
                alert("내용을 입력하세요")
                return false;
            }
            else{
                writeForm.submit();
                return true;
            }

        }
    </script>
</body>
</html>