<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성</title>
    <style>
    .layout{
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }

    .layout input{
        width : 100%;
        box-sizing : border-box;
    }

    .layout textarea{
        width : 100%;
        margin-top : 10px;
        min-height : 300px;
    }
    </style>
    
</head>
<body>
    <div class="layout">
        <form action = "/boardwrite" method="post" enctype="multipart/form-data">
            <input name = "title" type = "text">
            <textarea name = "content"></textarea>
            <button type = submit>작성</button>
        </form>
    </div>
</body>
</html>