<html>

<head>
    <title>전처리 페이지 UI</title>
    <link rel="stylesheet" href="static\assets\css\style.css">
</head>

<body>
<div class = "query">
    <form action="/image_preprocess" method="POST" enctype="multipart/form-data">
        <h1>이미지 전처리 종류 선택</h1>
        <input type="checkbox" name="pre_toggle_0">
        <span>180도 회전 </span>
        <br>
        <input type="checkbox" name="pre_toggle_1">
        <span>흑백 변경 </span>
        <br>
        <input type="checkbox" name="pre_toggle_2">
        <span>이미지 사이즈 변경 </span>
        <br>
        <button type="submit">변경</button>
    </form>


    <form class="response">
        {% if label %}
            <img src = "{{label}}" style="width:100px; height:100px;">
            <img src = "{{label}}" style="width:100px; height:100px;">
            
        {% endif %}
    </form>
</div>
</body>

</html>
