<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\assets\css\style.css">
    <title>회원가입</title>
</head>
<body class="main">
    <div class = "main">
        <form action="/register_process" method = "post">
            <h1>회원가입</h1>
            <h2>아이디</h2>
            <span><input type="text" name = "user_name" placeholder="아이디를 입력하세요"></span>
    
            <h2>패스워드</h2>
            <span><input type="password" name = "user_password" placeholder="패스워드를 입력하세요"></span>
    
            <h2>이메일</h2>
            <span><input type="email" name = "user_email" placeholder="이메일을 입력하세요"></span>

            <br>
            <br>
            <button type="submit">회원가입</button>
        </form>
        <button class = 'mainBtn' onclick="window.location.href='/'">메인페이지</button>
    </div>
    

</body>
</html>