<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
</head>
<body>
    <div class="container">
        <form action="http://127.0.0.1:5000/login" method="post">
            <div>
                <div>
                    <label for="아이디">아이디</label>
                    <input type="text" class="form-control" id="id" placeholder="id" name="id">
                    
                </div>
            </div>
            <div>
                <div>
                    <label for="pw">비밀번호</label>
                    <input type="text" name="pw" id="pw" placeholder="pw" class="form-control col-sm-3">
                    
                </div>
            </div>
            <button type="submit">로그인</button>
        </form>
    </div>
</body>
</html>